<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.38.2" targetFramework="net471" />
  <package id="Google.Apis.Auth" version="1.38.2" targetFramework="net471" />
  <package id="Google.Apis.Core" version="1.38.2" targetFramework="net471" />
  <package id="Google.Apis.Dialogflow.v2beta1" version="1.38.2.1563" targetFramework="net471" />
  <package id="LightBDD.Core" version="3.0.1" targetFramework="net471" />
  <package id="LightBDD.Framework" version="3.0.1" targetFramework="net471" />
  <package id="LightBDD.NUnit3" version="3.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="NUnit" version="3.11.0" targetFramework="net471" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net471" />
</packages>